In [1]:
import pandas as pd

In [20]:
data = pd.read_csv("amazon/Reviews.csv")

In [21]:
amzn = data[["Score", "Text"]]
amzn.columns = ["stars", "text"]
amzn["source"] = "Amazon"

/Users/gregpollock/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  This is separate from the ipykernel package so we can avoid doing imports until

In [22]:
amzn.head()

   stars                                               text  source
0      5  I have bought several of the Vitality canned d...  Amazon
1      1  Product arrived labeled as Jumbo Salted Peanut...  Amazon
2      4  This is a confection that has been around a fe...  Amazon
3      2  If you are looking for the secret ingredient i...  Amazon
4      5  Great taffy at a great price.  There was a wid...  Amazon

In [23]:
data = pd.read_csv("yelp.csv")

In [24]:
yelp = data[["stars", "text"]]
yelp["source"] = "Yelp"

/Users/gregpollock/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

In [25]:
yelp.head()

   stars                                               text source
0      5  My wife took me here on my birthday for breakf...   Yelp
1      5  I have no idea why some people give bad review...   Yelp
2      4  love the gyro plate. Rice is so good and I als...   Yelp
3      5  Rosie, Dakota, and I LOVE Chaparral Dog Park!!...   Yelp
4      5  General Manager Scott Petello is a good egg!!!...   Yelp

In [33]:
df = amzn.append(yelp).reset_index(drop = True)

In [34]:
display(df)

        stars                                               text  source
0           5  I have bought several of the Vitality canned d...  Amazon
1           1  Product arrived labeled as Jumbo Salted Peanut...  Amazon
2           4  This is a confection that has been around a fe...  Amazon
3           2  If you are looking for the secret ingredient i...  Amazon
4           5  Great taffy at a great price.  There was a wid...  Amazon
...       ...                                                ...     ...
578449      3  First visit...Had lunch here today - used my G...    Yelp
578450      4  Should be called house of deliciousness!\n\nI ...    Yelp
578451      4  I recently visited Olive and Ivy for business ...    Yelp
578452      2  My nephew just moved to Scottsdale recently so...    Yelp
578453      5  4-5 locations.. all 4.5 star average.. I think...    Yelp

[578454 rows x 3 columns]